<!DOCTYPE html>
<html>

<head>

  <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
  <!-- <script src="bower-angular-route-master/angular-route.js"></script> -->
  <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
  <!--<script src="node_modules/angular-material/angular-material.min.js"></script>-->
  <!--<script src="node_modules/angular-material/angular-material.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.js"></script>
  <!--  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" /> -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.css">
  <!--<link rel="stylesheet" href="css/samples.css" />-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i,900,900i"
    type="text/css" media="all">
  <!--<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" />-->
  <style>
    .btnDelete {
      background-color: rgba(255, 255, 255, 0.808);
      border: none;
      color: rgb(15, 14, 14);
      padding: 5px 10px;
      font-size: 20px;
      cursor: pointer;
      margin-left: 160px;
      
      



    }

    .mainMenu {
      background-color: rgb(51, 155, 146);
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #999;
      width: 92%;

    }

    .subMenu {
      margin: 10px 0;


    }

    .searchbar {
      height: 50px;
      width: 92%;
      margin-left: 1px;
      display: inline-block;
    }

    ul {
      padding-left: 20px;
      list-style-type: none;
    }

    ul li {
      background-image: url(star.svg);
      background-position: 0 0;
      background-size: auto;
      background-repeat: no-repeat;
    }

    .btn:hover {
      background-color: RoyalBlue;
    }


    .material-icons {
      font-size: 40px;
      color: rgb(139, 8, 8);
    }

    .spannn {
      margin-right: 10px;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .menuItemsButton {
      text-align: left;
      height: 40px;
      width: 100%;
      border: none;
      background-color: rgb(51, 155, 146);
      padding: 14px 28px;
      font-size: 18px;
      cursor: pointer;
      display: inline-block;
    }

    .searchbar {
      background-color: rgba(255, 255, 255, 0.589);
      height: 50px;
      width: 98%;
      font-size: 20px;
      margin-left: 1px;   
      border-style: groove;

    }

    .addButton {
      background-color: rgba(255, 255, 255, 0.589);
      border-style: groove;
      color:black;
      font-size: 20px;
      height: 56px;
      width: 60px;
      margin-left: 1px;


    }
    .firstName {
      font-size: 15px;
      
    }
  </style>

</head>



<body ng-app="app" ng-controller="menuCtrl">



  <div style="height:100%" class="ng-scope layout-column">


    <div class="flex-80">

      <div style="height:100%" class="ng-scope layout-row">

        <div class="flex-20" style="background-color:  rgb(173, 178, 180);border-style: groove;height:130%">
          <div style="height:10%" class="ng-scope layout-row">
            <!-- searchbar block -->
            <div class="flex-80">


              <div ng-show="showAllPersons">
                <input class="searchbar" type="text" placeholder="search" ng-model="searchText.firstName" />
              </div>
              <div ng-show="showAllRooms">
                <input class="searchbar" type="text" placeholder="search" ng-model="search.roomName" />
              </div>
            </div>
            <div class="flex-20">
              <!-- add button -->
              <button class="addButton" ng-show="showAllPersons" ng-click="addPerson(newPerson)">add p </button>
              <button class="addButton" ng-show="showAllRooms" ng-click="addRoom(newRoom)"> add R </button>

            </div>




          </div>
          <!--Menu-->
          <!-- <div style="height:100%" class="ng-scope layout-row"> -->

          <!---  menu items -->
          <div ng-disabled="showAllPersons">
            <p class="mainMenu" ng-click="showPersons()"><button class="menuItemsButton" ng-disabled="showAllPersons">Persons
               </button></p>
          </div>

          <div ng-show="showAllPersons" >
            <ul ng-repeat="person in persons | filter:searchText">
              <div style="display: flex; justify-content: space-between;">
                <li class="firstName">{{person.firstName }} </li> <button class="btnDelete" ng-click="deletePerson(person.key)">
                  <i class="fa fa-trash"></i></button> <br>
              </div>
            </ul>

          </div>

          <p class="mainMenu" ng-click="showRooms()"> <button class="menuItemsButton" ng-disabled="showAllRooms">Rooms
            </button></p>
          <div ng-show="showAllRooms">
            <ul ng-repeat="room in rooms | filter:search">
              <div style="display: flex; justify-content: space-between;">
                <li class="firstName">{{room.roomName}} </li> <button class="btnDelete" ng-click="deleteRoom(room.key)">
                  <i class="fa fa-trash"></i></button> <br>
              </div>
            </ul>

          </div>



          <!-- </div> -->

        </div>
        <div class="flex-80" style="background-color: rgb(173, 178, 180)">MAIN PAGE <br><br>
          <!-- Main page -->
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>



        </div>
      </div>



    </div>
    <div class="flex-10" style="background-color:rgb(173, 178, 180)">
       <div style="text-align: center;">
          <a href="https://www.amaris.com/" style="margin-right:5px">Amaris</a>
          <a href="https://www.thalesgroup.com/en/italy" style="margin-right:5px">Thales</a>
          <a href="https://www.thalesgroup.com/en/views/address-book" style="margin-right:5px">Address book</a>
          <a href="https://www.amaris.com/about/" >About</a>
       </div>
    </div>
  </div>

  </div>

  <script src="js/app.js"></script>
  <script src="Services/personService.js"></script>
  <script src="Services/roomService.js"></script>
  <script src="Controllers/controllers.js"></script>









</body>

</html>