<!DOCTYPE html>
<html>

<head>


  <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
  <!-- <script src="bower-angular-route-master/angular-route.js"></script> -->
  <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
  <!--<script src="node_modules/angular-material/angular-material.min.js"></script>-->
  <script src="node_modules/angular-material/angular-material.js"></script>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />
  <!--<link rel="stylesheet" href="css/samples.css" />-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" />-->
  <style>
    .btn {
      background-color: rgb(20, 116, 212);
      border: none;
      color: rgb(139, 8, 8);
      padding: 12px 12px;
      font-size: 17px;
      cursor: pointer;
      margin-left: 30px;
    }

    .btnnn {
      background-color: rgb(27, 27, 29);
      border: none;
      color: rgba(8, 139, 132, 0.466);
      padding: 8px;
      font-size: 5px;
      cursor: pointer;
      margin-left: 262px;
    }

    .btn:hover {
      background-color: RoyalBlue;
    }

    .material-icons {
      font-size: 20px;
    }

    .searchbar {
      margin-right: 30px;
    }

    .spannn {
      margin-right: 10px;
    }
  </style>

</head>



<body ng-app="app" ng-controller="menuCtrl">



  <div style="height:100%" class="ng-scope layout-column">

    <div class="flex-10" style="background-color: red">Header</div>

    <div class="flex-80">

      <div style="height:100%" class="ng-scope layout-row">

        <div class="flex-20" style="background-color: rgb(130, 153, 65)">
                                                 <!-- Menu -->
          <!--Persons-->
          Search : <input class="searchbar" type="text" placeholder="search " ng-model="searchText" /> <button
            class="btnnn" ng-click="addData(data)"> <i class="material-icons">
              add
            </i> </button>
          <p ng-click="showPersons()">Persons</p>
          <div ng-show="showAllPersons">
            <ul ng-repeat="person in persons | filter:searchText">
              <li>{{person.firstName}} <button class="btn" ng-click="deleteData(person.key)"><i
                    class="fa fa-trash"></i></button></li> <br>
            </ul>

          </div>
          <!--Rooms-->
          <p ng-click="showRooms()">Rooms</p>
          <div ng-show="showAllRooms">
            <ul ng-repeat="room in rooms | filter:searchText">
              <li>{{room.roomName}} <button class="btn" ng-click="deleteData(room.key)"><i
                    class="fa fa-trash"></i></button></li> <br>
            </ul>

          </div>


        </div>

        <div class="flex-80" style="background-color: rgb(190, 66, 184)">MAIN PAGE <br><br>

          <div ng-view></div>

        </div>
      </div>
    </div>
    <div class="flex-10" style="background-color: blue">Footer</div>
  </div>

  <script src="Scripts/app.js"></script>






</body>

</html>